python-dotenv
unstructured
unstructured-ingest[remote]
unstructured[pptx]
markdown
unstructured[markdown]
pydantic
chromadb
langchain-community
langchain-core
langchain-openai
python-magic-bin
"unstructured[pdf]"
langchain-community
pytesseract
PyPDF2